<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>WikiData game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<!-- Title section -->
<div class="jumbotron">
    <div class="container">
        <h3>What genre movie is: </h3>
        <h1 id="movietitle" class="text-primary display-3" th:text="${movie.title}">
            Name goes here
        </h1>
    </div>
</div>

<!-- Buttons section -->
<div class="container">
    <p>
    <button class="btn-lg btn-success" th:each="genre :  ${genres}" th:text="${genre.name}">Btn</button>

    <a id="btn5" href="/movies/index" class="btn btn-lg btn-secondary">skip</a>
    </p>
</div>

<script>

    function postData(btnid){
        if(btnid==1){
            document.getElementById('movietitle').innerHTML = "Marika néni és az elvetemült befőttek";
        }
        if(btnid==2){
            document.getElementById('movietitle').innerHTML = "Szabók és Kovácsok";
        }
        if(btnid==3){
            document.getElementById('movietitle').innerHTML = "Furmányos favágók";
        }
        if(btnid==4){
            document.getElementById('movietitle').innerHTML = "Furmányos favágók 2";
        }
    }
</script>

</body>
</html>